<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/register" method="post">
    <div>
        <label for="username">User name:</label>
        <input type="text" name="username" id="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
    </div>
    <div>
        <label for="first">First Name</label>
        <input type="text" name="first" id="first">
        <label for="last">Last Name</label>
        <input type="text" name="last" id="last">

    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
</body>
</html>